---
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import Link from "@components/Link.astro";
import { HOME } from "@consts";
---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <h4 class="font-semibold text-black dark:text-white">
      Children are humans too.
    </h4>
    <div class="space-y-6">
      <section>
        <article class="space-y-4">
          <p>
            We are a small group of volunteers working who believe in children's
            rights.
          </p>
          <p>
            We help young people in problematic households by providing
            mentorship, resources, and support.
          </p>
        </article>
      </section>

      <section class="space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Children have unalienable rights too
          </h5>
        </div>
        <article class="space-y-4">
          <p>
            You have the right to choose your career. You have the right to
            choose your religious and political beliefs without fear. You have
            the right to food, to medicine, to rest. You have the right to
            communicate with the external world.
          </p>
          <p>
            These aren't privileges. They aren't negotiable. They weren't given
            to you for them to be taken away. You have them because <em
              >you are human</em
            >.
          </p>
        </article>
      </section>
      <section class="space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            The reality is far from these ideals.
          </h5>
        </div>
        <article class="space-y-4">
          <p>
            Goverments and societies across the world consistently fail
            children. Children are consistently treated as second-class
            citizens.
          </p>
          <p>We hope our work will change that a little bit.</p>
        </article>

        <!-- <section class="animate space-y-6">
          <div class="flex flex-wrap gap-y-2 items-center justify-between">
            <h5 class="font-semibold text-black dark:text-white">
              Latest posts
            </h5>
            <Link href="/blog"> See all posts </Link>
          </div>
          <ul class="flex flex-col gap-4">
            {
              blog.map((post) => (
                <li>
                  <ArrowCard entry={post} />
                </li>
              ))
            }
          </ul>
        </section>

        <section class="animate space-y-6">
          <div class="flex flex-wrap gap-y-2 items-center justify-between">
            <h5 class="font-semibold text-black dark:text-white">
              Work Experience
            </h5>
            <Link href="/get-help"> See all work </Link>
          </div>
          <ul class="flex flex-col space-y-4">
            {
              work.map((entry) => (
                <li>
                  <div class="text-sm opacity-75">
                    {dateRange(entry.data.dateStart, entry.data.dateEnd)}
                  </div>
                  <div class="font-semibold text-black dark:text-white">
                    {entry.data.company}
                  </div>
                  <div class="text-sm opacity-75">{entry.data.role}</div>
                  <article>
                    <entry.Content />
                  </article>
                </li>
              ))
            }
          </ul>
        </section>

        <section class="animate space-y-6">
          <div class="flex flex-wrap gap-y-2 items-center justify-between">
            <h5 class="font-semibold text-black dark:text-white">
              Recent projects
            </h5>
            <Link href="/projects"> See all projects </Link>
          </div>
          <ul class="flex flex-col gap-4">
            {
              projects.map((project) => (
                <li>
                  <ArrowCard entry={project} />
                </li>
              ))
            }
          </ul>
        </section> -->

        <section class="space-y-4">
          <h5 class="font-semibold text-black dark:text-white">Get in touch</h5>
          <article>
            <p>
              If you're a person in difficult circumstances, go <Link
                href="/get-help">here</Link
              >.
            </p>
            <p>
              Want to get in touch with us about something else, or just to say
              hi? Join our <Link href="https://discord.gg/Ey4nnm7955"
                >Discord server</Link
              >, or shoot <Link href="mailto:safwansamsudeen@gmail.com"
                >us an email</Link
              >.
            </p>
          </article>
          <!--<ul class="flex flex-wrap gap-2">
             {
              SOCIALS.map((SOCIAL) => (
                <li class="flex gap-x-2 text-nowrap">
                  <Link
                    href={SOCIAL.HREF}
                    external
                    aria-label={`${SITE.NAME} on ${SOCIAL.NAME}`}
                  >
                    {SOCIAL.NAME}
                  </Link>
                  {"/"}
                </li>
              ))
            } 
            <li class="line-clamp-1">
              <Link
                href={`mailto:${SITE.EMAIL}`}
                aria-label={`Email ${SITE.NAME}`}
              >
                {SITE.EMAIL}
              </Link>
            </li>
          </ul>
          -->
        </section>
      </section>
    </div>
  </Container></PageLayout
>
